@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main {
  width: 100%;
  height: 100vh;
  background: #F0C4FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0C4FF), to(#FFBDBD));
  background: linear-gradient(to bottom, #F0C4FF, #FFBDBD);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  width: 590px;
  height: 700px;
  background-color: #FFFFFF;
  border-radius: 44px;
  margin: 10px;
  -webkit-box-shadow: 13px 13px 50px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 13px 13px 50px 0px rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.app__h1 {
  color: #F0C4FF;
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 40px;
}

.input {
  border-bottom: 1px solid #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__field {
  width: 100%;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.input__field::-webkit-input-placeholder {
  color: #E1E1E1;
}

.input__field::-moz-placeholder {
  color: #E1E1E1;
}

.input__field:-ms-input-placeholder {
  color: #E1E1E1;
}

.input__field::-ms-input-placeholder {
  color: #E1E1E1;
}

.input__field::placeholder {
  color: #E1E1E1;
}

.input__button {
  background-color: #FFFFFF;
  color: #e69aff;
  font-size: 42px;
  font-weight: 200;
  display: inline;
}

.input__button:hover {
  color: #9400c5;
}

.todo__item {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.todo__p {
  text-decoration: none;
}

.todo__p_strike {
  color: #a5a5a5;
  text-decoration: line-through;
}

.button-block__item_completed {
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  color: #FFFFFF;
  margin-right: 10px;
}

.button-block__item_completed:hover {
  border-color: #2bff00;
}

.svg {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  pointer-events: none;
}

.button-block__item_delete {
  background-color: #FFFFFF;
}

.button-block__item_delete:hover {
  fill: #ff0000;
}